/* Общие стили */
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: 'Scheherazade New', sans-serif;
}

/* Центрирование логотипа */
.logo {
    font-size: 128px;
    font-family: 'Rubik Glitch', sans-serif;
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px white;
    animation: glitch 1s infinite;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Анимация глитча для логотипа */
@keyframes glitch {
    0%, 20%, 40%, 60%, 80%, 100% {
        text-shadow: 2px 2px 5px white, -2px -2px 5px red;
    }
    10%, 30%, 50%, 70%, 90% {
        text-shadow: -2px -2px 5px white, 2px 2px 5px blue;
    }
}



/* Блок авторизации */
.login-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    z-index: 10;
    width: 300px;
}

.login-box input {
    width: 90%;
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    color: #eee;
}

.login-box button {
    width: 46%;
    margin: 8px 2%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
}




@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');



p {
  border-right: solid 3px rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 8px;
  color: rgba(255,255,255,.70);
}

/* Animation */
p {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
             animation-iteration-count: infinite;
}

/* text animation */

@keyframes animated-text{
    from{width: 0;}
    to{width: 300px;}
  }

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255, 255, 255, 0.75);}
  to{border-right-color: transparent;}
}
